{% load static %}
    <link rel="stylesheet" href="{% static '/users/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/users/css/style2.css' %}">

    {% if validlink %}

    <div class="container">
        <div class="block">
            <div class="title">
                <h1>Подтверждение смены пароля</h1>
                <a href="{% url 'login' %}">Назад ко входу</a>
                <form method="post">{% csrf_token %}
                    <input type="password" name="new_password1" autocomplete="new-password" required aria-autocomplete="list" placeholder="Новый пароль">
                    <input type="password" name="new_password2" autocomplete="new-password" required placeholder="Новый пароль">
                    <input type="submit" value="Восстановить" id="btn" {% if form.errors %} class="error" {% endif %}>
                </form>

                <a href="{% url 'login' %}">Передумал?</a>
            </div>
        </div>
    </div>
    {% endif %}